/** STRUCTURAL ELEMENTS/CLASSES */ 
.outer-container
{
  background: #757575;
  margin: 1px;
  height: auto;
  padding: 10px; 
}

.border-container
{
  background: #0b4f6c;
  height: auto;
  padding: 10px; 
}

.pad-container
{  
  background: #20bf55;
  margin: 1px;
  height: auto;
  padding: 5px; 
}

.content-container
{
  background: #01baef;
  margin: 5px;
  height: auto;
  padding: 5px; 
}

.sub-content
{
  background: #fbfbff;
  margin: auto;
  height: auto;
  padding: 1px; 
}


main
{
  text-align: center;
}

header
{
  margin: 5px;
  padding: 1px;
  height: auto;
}

body
{
  margin: 5px;
  padding: 1px;
  height: auto;
}

article
{
  margin: 5px;
  padding: 5px;
  height: auto;
}

section
{
  margin: 5px;
  padding: 5px;
  height: auto;
}

footer
{
  color: #fbfbff;
  margin: 5px;
  padding: 5px;
  height: auto;
}

div
{ 
  margin: 5px;
  padding: 5px;
  height: auto;
}

hr
{
  
}


/** GENERAL ELEMENTS */ 
h1
{
  color: #01baef;
  font-family: arial;
  font-size: 42px;
}

nav
{
  margin: 1px;
  padding: 1px;
  height: auto;
}

h2
{
  color: #0b4f6c;
  font-family: arial;
  font-size: 30px;
}

h3
{
  color: #20bf55;
  font-family: arial;
  font-size: 24px;
}

p
{
  color: black;
  font-family: arial;
  font-size: 16px;
  margin: 1px;
  padding: 10px;
}

a
{
  font-family: arial;
  font-size: 16px;
}

  a:link { color: #20bf55;}
  a:visited { color: #01baef;}
  a:hover { color: #0b4f6c;}
  a:active { color: #fbfbff;}

ul
{
  font-family: arial;
  font-size: 18px;
  list-align: center;
}

ol
{
  font-family: arial;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

li
{
  font-family: arial;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  text-align: left;
}
